body {
    background: #464f54;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    background: black;
    width: 816px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 60px;
    position: absolute;
    z-index: 10;
    top: -125px;
    left: 255px;
}

.title  p {
    font-family: 'Montserrat', sans-serif;
    color: #444444;
    letter-spacing: 3px;
    font-size: 15px;
    margin-top: 13px;
    padding-bottom: 12px;
}

.title input {
    color: #ffffff;
    background: black;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #303030;
    padding-bottom: 12px;
    width: 100%;
    font-size: 48px;
}

.title-tools {
    background-color: #f5bc2c;
    padding: 20px 0 20px 40px;
    position: absolute;
    width: 772px;
    z-index: 5;
    top: 80px;
    left: 319px;
    display:flex;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
}

.title-tools img {
    margin-right: 35px;
    opacity: 0.5;
    cursor: pointer;
}

.title-tools img:hover {
    opacity: 1;
}

.main {
    width: 1060px;
    margin-top: 150px;
    background: #ffffff;
    position: relative;
}

.content {
    padding: 200px 130px 10px 0;
    border-left: 3px solid #e8eced;
    margin-left: 67px;
    padding-left: 58px;
}

.post-author p {
    font-family: 'Montserrat', sans-serif;
    color: #b9b9b9;
    font-size: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 45px;
}

.post-title h1 {
    font-size: 70px;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 5px;
    font-family: 'PT Sans', sans-serif;
}

.post-title > p {
    padding-top: 5px;
    padding-bottom: 50px;
    color: #8f8f8f;
    font-size: 30px;
    font-style: italic;
    font-family: 'PT Sans', sans-serif;
}

.text > p {
   font-family: 'PT Sans', sans-serif; 
   font-size: 27px; 
   padding-bottom: 35px;
   line-height: 1.5;
}

.italic {
    font-style: italic;
}