.black-header {
    background: black;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 65px;
    position: absolute;
    z-index: 10;
    right: 70px;
    top: -20px;
}

.black-header p {
    color: #3e3e3e;
    margin-top: 13px;
}

input {
    color: white;
    background: black;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #303030;
    font-size: 30px;
}

.yellow-header {
    background-color: #f5bc2c;
    padding: 20px 45px;
    position: absolute;
    z-index: 5;
    right: 70px;
    top: 130px;
}

.yellow-header img {
    padding-right: 35px;;
}

body {
    background: #464f54;
}

.content {
    background: #ffffff;
    margin: 70px 70px;
    position: relative;
    padding-top: 200px;
}

.post-author p {
    color: #b9b9b9;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 45px;
}

h1 {
    font-size: 70px;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
}

.post-title > p {
    padding-top: 18px;
    padding-bottom: 50px;
    color: #8f8f8f;
}